@media screen and (max-width: 1440px)

    .about

        &__picture
            width: 540px
            height: 477px

        &__text
            font-size: 0.65rem
            line-height: 1.55
    
    .prices

        .content
            flex-wrap: wrap 

@media screen and (max-width: 1024px)

    .nav
        height: 0
        overflow-y: hidden
        margin: 0
        display: block

        &__item
            display: block
            padding: 10px 20px
        
    .header
        padding: 0

        &__logo
            padding: 0 0 0 20px

        &__checkbox
            
            &:checked 
                
                ~.nav
                    height: 100%

                ~.header__menu
                        
                        span
                            top: 9px

                            &:nth-child(1)
                                transform: rotate(45deg)

                            &:nth-child(2)
                                opacity: 0

                            &:nth-child(3)
                                transform: rotate(-45deg)

        &__menu
            display: block
            float: right
            margin: 22px

    .content
        flex-wrap: wrap

    .gallery

        &__carousel
            width: 750px
            height: (750px * 0.75)

        &__icon
            width: (750px / 8)
            height: ((750px / 8) * 0.7)
    
@media screen and (max-width: 768px)
    
    .intro

        &__text
            font-size: 0.8rem
    
    .about

        &__picture
            width: 480px
            height: 424px

    .gallery

        &__carousel
            width: 550px
            height: (550px * 0.75)

        &__selector
            max-width: 550px

        &__icon
            width: (550px / 4)
            height: ((550px / 4) * 0.7)

@media screen and (max-width: 568px)

    .about

        &__picture
            width: 384px
            height: 339px

    .gallery

        &__carousel
            width: 405px
            height: (405px * 0.75)

        &__selector
            max-width: 405px

        &__icon
            width: (405px / 4)
            height: ((405px / 4) * 0.7)

    .prices

        &__card-img
            width: 405px
            height: (405px * (240 / 470))
    
    .column

        &_medium
            width: 405px
            height: (405px * (240 / 470))
    
    .faq

        &__list
            margin: 12vh 10px 20px

@media screen and (max-width: 425px)

    html
        font-size: 32px

    .content
        padding: 15px 0

    .header

        &__logo
            width: 58px
            height: 58px
            padding: 0 0 0 10px

        &__title
            padding: 0 0 0 15px
        
        &__menu
            margin: 19px 10px 19px
    
    .intro
        
        &__content
            padding: 75px 0 0 15px

    .about

        &__picture
            width: 288px
            height: 254px
    
    .advantages

        &__title
            font-size: 0.75rem
        
        &__text
            font-size: 0.7rem

        &__logo

    .gallery

        &__carousel
            width: 305px
            height: (305px * 0.75)

        &__selector
            max-width: 305px

        &__icon
            width: (305px / 4)
            height: ((305px / 4) * 0.7)

    .prices

        &__card-img
            width: 305px
            height: (305px * (240 / 470))
    
    .column

        &_medium
            width: 305px
            height: (305px * (240 / 470))

    .footer

        &__logo

            width: 32px
            height: 32px

@media screen and (max-width: 320px)

    html
        font-size: 28px

    .column
        margin: 7.5px 10px
    
    .title
        padding: 7px 0 10px

        &_padding
            padding: 18vw 0 0 20px
    
    .header
        
        &__title
            display: none

    .about
    
        &__picture
            width: 95vw
            height: 95vw

    .advantages

    .gallery

        &__carousel
            width: 95vw
            height: (95vw * 0.75)

        &__selector
            max-width: 95vw
            padding: 0 0 20px

        &__icon
            width: (95vw / 4)
            height: ((95vw / 4) * 0.7)
    
    .prices

        &__card-img
            width: 90vw
            height: (90vw * (240 / 470))
    
    .column

        &_medium
            width: 95vw
            height: (95vw * (240 / 470))

@media screen and (max-height: 425px)
 
    .nav
        
        &__item
            padding: 5px 20px

        &__link
            font-size: 0.45rem

@media screen and (max-height: 320px)
 
    .nav

        &__item
            padding: 3.5px 20px

        &__link
            font-size: 0.35rem