@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}

#detach-button-host {
  display: none !important;
}

.title {
  color: #d1d1d1;
}

.header {
  background: #40005e;
}

.header__title {
  color: #d1d1d1;
}

.nav__item:hover {
  background: #5d0089;
}

.nav__link {
  color: #d1d1d1;
}

.intro__content {
  color: transparent;
  text-shadow: #969696 0 0 15px;
}

.intro__content:hover, .intro__content:active {
  color: #d1d1d1;
  text-shadow: none;
}

.about {
  background: #210030;
}

.about__picture:hover .about__svg-fill, .about__picture:active .about__svg-fill {
  fill: #660096;
}

.about__text {
  color: #d1d1d1;
}

.advantages {
  color: #d1d1d1;
}

.gallery {
  background: #210030;
}

.prices {
  background: #370051;
  color: #d1d1d1;
}

.prices__card_back {
  background: #56007e;
}

.faq {
  background: #210030;
  color: #d1d1d1;
}

.faq__question {
  background: #370051;
}

.faq__answer {
  background: #4B006f;
}

.feedback {
  background: #370051;
}

.feedback__input {
  background: #4B006f;
  color: #d1d1d1;
}

.feedback__input:placeholder {
  color: #969696;
}

.feedback__input:focus {
  background: #660096;
}

.feedback__button {
  background: #660096;
  color: #d1d1d1;
}

.feedback__button:hover {
  background: #8000bc;
}

.footer {
  background: #210030;
  color: #d1d1d1;
}

.title {
  margin: 0;
  padding: 15px 0 25px;
  text-align: center;
  font-size: 1rem;
}

.title_padding {
  padding: 18vw 0 0 20px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.column {
  margin: 20px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.column_small {
  max-width: 243px;
  text-align: center;
}

.column_medium {
  width: 470px;
  height: 240px;
  margin: 20px 0;
}

.column_bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header {
  font-size: 0;
  padding: 0 20px;
  position: fixed;
  z-index: 3;
  overflow-y: hidden;
  width: 100%;
}

.header__column {
  display: inline-block;
  vertical-align: middle;
}

.header__logo {
  width: 64px;
  height: 64px;
}

.header__title {
  font-size: 0.75rem;
  padding: 0 0 0 30px;
}

.header__checkbox {
  display: none;
}

.header__menu {
  clear: both;
  cursor: pointer;
  position: relative;
  display: none;
  width: 25px;
  height: 20px;
}

.header__menu span {
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 9px;
  opacity: 1;
  -webkit-transition: opacity 0.5s, top 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, top 0.5s;
  transition: transform 0.5s, opacity 0.5s, top 0.5s, -webkit-transform 0.5s;
}

.header__menu span:first-child {
  top: 0;
}

.header__menu span:last-child {
  top: 18px;
}

.nav {
  margin: 0 0 0 30px;
  display: inline-block;
  vertical-align: middle;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
  padding: 17.5px 7.5px;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
  cursor: pointer;
}

.nav__link {
  font-size: 0.5rem;
  text-decoration: none;
}

.intro {
  background: url("../img/intro-bg.webp") 0 0/cover no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.intro__content {
  padding: 25vh 0 0 40px;
  -webkit-transition: color 0.5s, text-shadow 0.5s;
  transition: color 0.5s, text-shadow 0.5s;
}

.intro__text {
  margin: 20px 0;
  font-size: 1rem;
}

.intro__triangle {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about__picture {
  position: relative;
  width: 601px;
  height: 531px;
}

.about__svg {
  width: 100%;
  height: 100%;
}

.about__svg-fill {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.about__car {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
}

.about__text {
  max-width: 800px;
  font-size: 0.7rem;
  margin: 15px 0 0 0;
  line-height: 1.6;
}

.advantages {
  position: relative;
}

.advantages__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.advantages__video {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__logo {
  width: 128px;
  height: 128px;
}

.advantages__title {
  font-size: 38px;
  margin: 10px;
  padding: 0;
}

.advantages__text {
  font-size: 32px;
  margin: 10px;
  padding: 0;
}

.gallery__selector {
  font-size: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 0 50px;
}

.gallery__radio {
  display: none;
}

.gallery__carousel {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.gallery__card {
  width: 12.5%;
  height: 100%;
}

.gallery__label {
  cursor: pointer;
}

.gallery__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gallery__slides div:first-child {
  background: url("../img/gallery-card-1.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(2) {
  background: url("../img/gallery-card-2.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(3) {
  background: url("../img/gallery-card-3.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(4) {
  background: url("../img/gallery-card-4.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(5) {
  background: url("../img/gallery-card-5.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(6) {
  background: url("../img/gallery-card-6.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(7) {
  background: url("../img/gallery-card-7.webp") 0 0/cover no-repeat;
}

.gallery__slides div:nth-child(8) {
  background: url("../img/gallery-card-8.webp") 0 0/cover no-repeat;
}

.gallery__icon {
  width: 100px;
  height: 70px;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#card-1:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

#card-1:checked ~ .gallery__selector label:nth-child(1) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-2:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-12.5%, 0);
          transform: translate(-12.5%, 0);
}

#card-2:checked ~ .gallery__selector label:nth-child(2) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-3:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}

#card-3:checked ~ .gallery__selector label:nth-child(3) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-4:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-37.5%, 0);
          transform: translate(-37.5%, 0);
}

#card-4:checked ~ .gallery__selector label:nth-child(4) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-5:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#card-5:checked ~ .gallery__selector label:nth-child(5) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-6:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-62.5%, 0);
          transform: translate(-62.5%, 0);
}

#card-6:checked ~ .gallery__selector label:nth-child(6) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-7:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-75%, 0);
          transform: translate(-75%, 0);
}

#card-7:checked ~ .gallery__selector label:nth-child(7) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#card-8:checked ~ .gallery__carousel .gallery__slides {
  -webkit-transform: translate(-87.5%, 0);
          transform: translate(-87.5%, 0);
}

#card-8:checked ~ .gallery__selector label:nth-child(8) img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.prices {
  position: relative;
  z-index: 0;
}

.prices__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.prices__card-img {
  width: 470px;
  height: 240px;
}

.prices__card-wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 1px;
  height: 1px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.prices__card-wrapper:hover .prices__card, .prices__card-wrapper:active .prices__card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.prices__card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.prices__card_front, .prices__card_back {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.prices__card_back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 20px;
}

.prices__card-title {
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
}

.prices__card-text {
  padding: 10px;
  text-align: center;
  font-size: 0.67rem;
}

.prices__card-text p {
  margin: 5px 0;
}

.faq {
  position: relative;
  padding: 0 0 20px 0;
  z-index: 0;
}

.faq__triangle {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.faq__list {
  margin: 12vh auto 0px;
  max-width: 568px;
}

.faq__section {
  margin: 15px 0;
}

.faq__checkbox {
  display: none;
}

.faq__label {
  cursor: pointer;
}

.faq__arrow {
  margin: 0 7.5px 0 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 0.55rem;
  padding: 10px;
  border-radius: 5px;
}

.faq__answer {
  width: 100%;
  height: 0;
  font-size: 0.5rem;
  border-radius: 5px;
  margin: 7.5px 0;
  overflow-y: hidden;
}

.faq__answer span {
  display: inline-block;
  padding: 10px;
}

#faq__checkbox-1:checked ~ .faq__answer {
  height: 100%;
}

#faq__checkbox-1:checked ~ .faq__label .faq__question .faq__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#faq__checkbox-2:checked ~ .faq__answer {
  height: 100%;
}

#faq__checkbox-2:checked ~ .faq__label .faq__question .faq__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#faq__checkbox-3:checked ~ .faq__answer {
  height: 100%;
}

#faq__checkbox-3:checked ~ .faq__label .faq__question .faq__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.feedback__form {
  max-width: 568px;
  margin: 20px auto 0;
  padding: 0 10px 75px;
}

.feedback__input {
  width: 100%;
  font-family: inherit;
  font-size: 0.55rem;
  font-weight: bold;
  margin: 15px 0 0 0;
  border: none;
  padding: 7.5px 7.5px 7.5px 15px;
  border-radius: 15px;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, -webkit-box-shadow 0.5s;
}

.feedback__input:focus {
  outline: none;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__row div:nth-child(1) {
  margin: 0 15px 0 0;
}

.feedback__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.feedback__select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.feedback__button {
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  font-size: 0.55rem;
  font-weight: bold;
  margin: 15px 0 0 0;
  border: none;
  padding: 7.5px 7.5px 7.5px 15px;
  border-radius: 15px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.feedback__button:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5px 12.5px;
}

.footer__logo {
  width: 42px;
  height: 42px;
  margin: 0 5px;
}

.footer__logo a {
  font-size: 0;
}

.footer__text {
  margin: 0 5px;
  font-size: 0.4rem;
}

@media screen and (max-width: 1440px) {
  .about__picture {
    width: 540px;
    height: 477px;
  }
  .about__text {
    font-size: 0.65rem;
    line-height: 1.55;
  }
  .prices .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    height: 0;
    overflow-y: hidden;
    margin: 0;
    display: block;
  }
  .nav__item {
    display: block;
    padding: 10px 20px;
  }
  .header {
    padding: 0;
  }
  .header__logo {
    padding: 0 0 0 20px;
  }
  .header__checkbox:checked ~ .nav {
    height: 100%;
  }
  .header__checkbox:checked ~ .header__menu span {
    top: 9px;
  }
  .header__checkbox:checked ~ .header__menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__checkbox:checked ~ .header__menu span:nth-child(2) {
    opacity: 0;
  }
  .header__checkbox:checked ~ .header__menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__menu {
    display: block;
    float: right;
    margin: 22px;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__carousel {
    width: 750px;
    height: 562.5px;
  }
  .gallery__icon {
    width: 93.75px;
    height: 65.625px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    font-size: 0.8rem;
  }
  .about__picture {
    width: 480px;
    height: 424px;
  }
  .gallery__carousel {
    width: 550px;
    height: 412.5px;
  }
  .gallery__selector {
    max-width: 550px;
  }
  .gallery__icon {
    width: 137.5px;
    height: 96.25px;
  }
}

@media screen and (max-width: 568px) {
  .about__picture {
    width: 384px;
    height: 339px;
  }
  .gallery__carousel {
    width: 405px;
    height: 303.75px;
  }
  .gallery__selector {
    max-width: 405px;
  }
  .gallery__icon {
    width: 101.25px;
    height: 70.875px;
  }
  .prices__card-img {
    width: 405px;
    height: 206.80851px;
  }
  .column_medium {
    width: 405px;
    height: 206.80851px;
  }
  .faq__list {
    margin: 12vh 10px 20px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 32px;
  }
  .content {
    padding: 15px 0;
  }
  .header__logo {
    width: 58px;
    height: 58px;
    padding: 0 0 0 10px;
  }
  .header__title {
    padding: 0 0 0 15px;
  }
  .header__menu {
    margin: 19px 10px 19px;
  }
  .intro__content {
    padding: 75px 0 0 15px;
  }
  .about__picture {
    width: 288px;
    height: 254px;
  }
  .advantages__title {
    font-size: 0.75rem;
  }
  .advantages__text {
    font-size: 0.7rem;
  }
  .gallery__carousel {
    width: 305px;
    height: 228.75px;
  }
  .gallery__selector {
    max-width: 305px;
  }
  .gallery__icon {
    width: 76.25px;
    height: 53.375px;
  }
  .prices__card-img {
    width: 305px;
    height: 155.74468px;
  }
  .column_medium {
    width: 305px;
    height: 155.74468px;
  }
  .footer__logo {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 28px;
  }
  .column {
    margin: 7.5px 10px;
  }
  .title {
    padding: 7px 0 10px;
  }
  .title_padding {
    padding: 18vw 0 0 20px;
  }
  .header__title {
    display: none;
  }
  .about__picture {
    width: 95vw;
    height: 95vw;
  }
  .gallery__carousel {
    width: 95vw;
    height: 71.25vw;
  }
  .gallery__selector {
    max-width: 95vw;
    padding: 0 0 20px;
  }
  .gallery__icon {
    width: 23.75vw;
    height: 16.625vw;
  }
  .prices__card-img {
    width: 90vw;
    height: 45.95745vw;
  }
  .column_medium {
    width: 95vw;
    height: 48.51064vw;
  }
}

@media screen and (max-height: 425px) {
  .nav__item {
    padding: 5px 20px;
  }
  .nav__link {
    font-size: 0.45rem;
  }
}

@media screen and (max-height: 320px) {
  .nav__item {
    padding: 3.5px 20px;
  }
  .nav__link {
    font-size: 0.35rem;
  }
}
/*# sourceMappingURL=style.css.map */